fastapi
uvicorn
python-multipart
python-dotenv
pydantic
langchain
langchain-text-splitters
langchain-groq
sentence-transformers
PyPDF2
pytesseract
pdf2image
Pillow
groq
numpy
sqlalchemy
psycopg2-binary
pgvector
pymysql
rank-bm25
